
@theme {
	--color-*: initial;
	--color-emerald-50: #f1fcf3ff;
	--color-emerald-100: #ddfbe4ff;
	--color-stone-50: #fafafaff;
	--color-stone-100: #f5f5f5ff;
	--color-ruby-50: #fff2f1ff;
	--color-stone-200: #e5e5e5ff;
	--color-stone-300: #d4d4d4ff;
	--color-emerald-200: #bef5cbff;
	--color-ruby-100: #ffd6d3ff;
	--color-stone-400: #a1a1a1ff;
	--color-emerald-300: #8aeba3ff;
	--color-emerald-400: #50d874ff;
	--color-stone-500: #737373ff;
	--color-ruby-200: #ffb4afff;
	--color-stone-600: #525252ff;
	--color-stone-700: #404040ff;
	--color-emerald-500: #29be51ff;
	--color-stone-800: #262626ff;
	--color-emerald-600: #1d9d3dff;
	--color-emerald-700: #1b8437ff;
	--color-stone-900: #171717ff;
	--color-emerald-800: #18622dff;
	--color-ruby-300: #ff958dff;
	--color-emerald-900: #154a25ff;
	--color-stone-950: #0a0a0aff;
	--color-emerald-950: #072c12ff;
	--color-ruby-400: #ff6c62ff;
	--color-amber-50: #ffffeaff;
	--color-sapphire-50: #e8f1ffff;
	--color-ruby-500: #f6483cff;
	--color-amber-100: #fefcc5ff;
	--color-amber-200: #fff985ff;
	--color-sapphire-100: #d5e3ffff;
	--color-sapphire-200: #b3ccffff;
	--color-amber-300: #fef146ff;
	--color-ruby-600: #e32214ff;
	--color-sapphire-300: #8daeffff;
	--color-amber-400: #ffe11cff;
	--color-ruby-700: #c11003ff;
	--color-sapphire-400: #617fffff;
	--color-ruby-800: #a1140aff;
	--color-amber-500: #ffc200ff;
	--color-sapphire-500: #4356ffff;
	--color-ruby-900: #81110dff;
	--color-ruby-950: #460604ff;
	--color-sapphire-600: #2426ffff;
	--color-amber-600: #e29602ff;
	--color-amber-700: #bb6b01ff;
	--color-sapphire-700: #0d0fd4ff;
	--color-amber-800: #985208ff;
	--color-sapphire-800: #0709b8ff;
	--color-amber-900: #693808ff;
	--color-sapphire-900: #0b118aff;
	--color-amber-950: #482300ff;
	--color-sapphire-950: #070850ff;

	--text-*: initial;
	--text-size-10: 0.75rem;
	--text-size-20: 0.875rem;
	--text-size-30: 1rem;
	--text-size-40: 1.125rem;
	--text-size-50: 1.25rem;
	--text-size-60: 1.5rem;
	--text-size-70: 1.875rem;
	--text-size-80: 2.25rem;
	--text-size-90: 3rem;
	--text-size-100: 3.75rem;
	--text-size-110: 4.5rem;

	--radius-*: initial;
	--radius-md: 8px;
	--radius-none: 0px;
}
